@import "@penpot/plugin-styles/styles.css";

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    padding: 8px 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rows {
    flex-direction: row;
}

label {
    font-size: 14px;
    width: 100%;
}

input {
    margin-top: 4px;
    width: 100%;
}

.choice-selector {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: var(--lb-secondary);
    border-radius: var(--spacing-8);
    overflow: hidden;
    padding: 2px;
}

.choice-selector p {
    text-align: center;
    padding: 8px 0;
    border-radius: var(--spacing-8);
    cursor: pointer;
}

.choice-selector p:hover {
    color: black;
}

.choice-selected {
    color: var(--la-primary);
    background-color: var(--lb-tertiary);
}

.preview {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px 12px;
    width: 100%;
    border-radius: 12px;
    background-color: #e7e6e6;
}

.preview-image {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-bottom: 4px;
    background-color: #cfcfcf;
}

.preview-line {
    max-width: fit-content;
    height: 100%;
    border-radius: 12px;
    font-weight: bolder;
    color: transparent;
    background-color: transparent;
    transition: all 150ms ease-out;
}

.preview-line:not(.keep-text) {
    background-color: #cfcfcf;
}

.preview-line.keep-text {
    color: #b1b2b5;
    background-color: none;
}

label {
    opacity: 0.7;
    font-size: 12px;
    line-height: 1.08;
}

[data-theme="dark"] {
    .choice-selected {
        color: var(--da-primary);
        background-color: var(--db-tertiary);
    }

    .choice-selector {
        background-color: var(--db-secondary);
    }

    .choice-selector p:hover {
        color: white;
    }

    .preview {
        background-color: #343434;
    }

    .preview-image {
        background-color: #646464;
    }

    .preview-line:not(.keep-text) {
        background-color: #646464;
    }

    .preview-line.keep-text {
        color: #646464;
        background-color: none;
    }
}